* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    line-height: 1.05;
}

:root {
    --background-primary: #333;
    --background-secondary: #37373b;
    --background-tertiary: #222;
    --color-primary: #fff;
    --color-secondary: #000;
    --color-progress-bar: #329f5b;
    --class-lesson-bg: #ddd;
    --class-no-lesson-bg: #888;
    --class-hover: #aaa;
    --class-cancelled: #ff5e48;
    --class-special: #add770;
}

body {
    background-color: var(--background-primary);
    overflow: hidden;
}

#scrollLimiter {
    overflow: hidden;
    background-color: var(--background-primary);
}

#selection {
    padding: 10px;
    height: 40px;
    text-align: center;
}

#progress-bar-cont {
    background: white;
}

#progress-bar {
    transition: width 0.5s,
        background-color 0.5s;
    background-color: var(--color-progress-bar);
    height: 2px;
    border: none;
    margin: 0;
    width: 0;
}

#classSelect {
    padding: 6px;
    font-size: 20px;
    width: calc(100% - 36px);
    margin: 10px;
    margin-bottom: 0;
}

#current-class {
    padding: 6px;
    display: inline-block;
    color: var(--color-primary);
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}

#timetable {
    width: 100%;
    table-layout: fixed;
    border-spacing: 4px;
    line-height: 1;
}

.class-col {
    width: 100px;
}

.class-col {
    width: calc((100% - 100px) / 6);
}

#sidebar {
    transition: left 0.5s;
    position: fixed;
    left: -200px;
    width: 200px;
    height: calc(100vh - 60px);
    background-color: var(--background-secondary);
    z-index: 1;
}

#sidebar.visible {
    left: 0;
}

#search-results {
    max-height: 50vh;
    overflow-y: auto;
    width: calc(100% - 10px);
}

.sidebar-link {
    display: block;
    margin: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: #a8cdff;
    transition: background-color 0.5s, color 0.5s;
}

.sidebar-link.active {
    background-color: #cfcfcf;
    color: black;
}

#sidebar-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#search-dropdown {
    height: 50px;
    position: relative;
}

.searchResult {
    z-index: 2;
    display: block;
    background-color: white;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.searchResult:hover {
    background-color: #aaa;
}

.sc_cont {
    height: calc((100vh - 150px) / 11);
    display: flex;
    align-items: center;
    justify-content: center;
}

.timetable-lesson-times {
    height: calc((100vh - 150px) / 11);
}

.scroller {
    text-align: center;
}

.scroller-container {
    height: calc((100vh - 150px) / 11 + 4px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroller-container.double {
    height: calc(2 * (100vh - 150px) / 11 + 8px);
}

.scroller-container.triple {
    height: calc(3 * (100vh - 150px) / 11 + 12px);
}

.timetable-entry {
    background-color: var(--class-lesson-bg);
    color: var(--color-secondary);
    text-align: center;
    border-radius: 0.5em;
    overflow-y: hidden;
    overflow-x: hidden;
}

.timetable-entry:not(.empty):not(.timetable-time) {
    cursor: pointer;
}

.timetable-entry:not(.empty):not(.timetable-time):hover {
    background-color: var(--class-hover);
}

.cancelled {
    background-color: var(--class-cancelled);
    text-decoration: line-through;
    padding: 4px;
    border-radius: 5px;
    margin: 1px;
}

.special {
    background-color: var(--class-special);
    padding: 10px;
    border-radius: 10px;
}

.empty {
    background-color: var(--class-no-lesson-bg);
}

.timetable-entry span {
    margin-right: 4px;
}

.timetable-time {
    width: 60px;
}

.timetable-date {
    padding: 10px;
    font-size: 13px;
}

.timetable-time, .timetable-date {
    background-color: transparent;
    color: var(--color-primary);
}

.scrolling {
    animation-name: scroll;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    align-self: flex-start;
}

span.entry-title {
    font-weight: bold;
    display: inline-block;
}

#margin-details {
    display: none;
    position: fixed;
    width: 80%;
    height: 80%;
    top: 0;
    left: 0;
    padding: 10vh 10vw;
    z-index: 2;
}

#details-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #222222f8;
    border-radius: 5px;
    overflow: auto;
}

.icon-x::before {
    content: '\00d7';
    color: #fff;
    font-weight: 300;
    font-size: xx-large;
    position: absolute;
    right: 0;
    z-index: 2;
    margin: 10px;
    cursor: pointer;
}

#overlay-lesson-tabs {
    border-bottom: 3px solid white;
}

.overlay-tab {
    background-color: #aaa;
    display: inline-block;
    padding: 20px 30px 10px;
    margin: 10px 0 -1px 10px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.overlay-tab.active {
    background-color: #eee;
}

#lesson-detail {
    color: white;
}

#room-detail, #teacher-detail {
    font-size: 2em;
    margin-left: 30px;
    margin-top: 10px;
}

#personal-shit img:not(.teacher) {
    width: 100px;
    border-radius: 5px;
}

img.teacher {
    width: 200px;
    border-radius: 10px;
    margin: 15px;
    float: left;
}

.names {
    float: left;
}

.person-link {
    color: #76ccff;
    cursor: pointer;
    display: block;
}

#personal-shit {
    width: calc(100% - 50px);
    margin-left: 30px;
    margin-top: 15px;
}

.personalDetails p {
    font-size: 20px;
    margin-top: 10px;
}

.student {
    margin-top: 10px;
}

.studentName {
    display: block;
    font-size: 16px;
}

#teacher-personal-shit p {
    padding: 10px;
}

.buttonSpan {
    padding-top: 5px;
    cursor: pointer;
}

#week-back, #week-forward, #today, #forward-next-sem, #backward-next-sem {
    float: right;
    margin-left: 15px;
    touch-action: manipulation;
    stroke: var(--color-primary);
}

#open-menu {
    stroke: var(--color-primary);
}

#today::before {
    content: attr(data-content);
    color: var(--color-primary);
    padding: 9px 0 0px 29px;
    position: absolute;
    text-align: center;
    transform: translate(-50%, 0);
}

.repaint {
    color: #000;
}

#open-menu {
    float: left;
    margin-right: 10px;
}

form {
    margin: 20px;
    display: block;
    color: var(--color-primary);
    position: relative;
    height: calc(100% - 40px);
    max-width: 50vw;
    margin: 20px auto;
}

@media only screen and (max-width: 600px) {
    form button {
        font-size: 20px;
    }
    form input {
        font-size: 20px;
    }
}

label {
    padding: 12px 0px 12px 0;
    display: inline-block;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#button-spinner {
    text-align: center;
}

#button-spinner img {
    margin: 20px auto;
    padding: 12px;
    display: block;
    width: 60px;
}

form button, #logout, #persplan {
    margin: 20px auto;
    -webkit-appearance: none;
    background-color: #dddddd;
    border-radius: 0;
    padding: 12px;
    display: block;
}

#persplan {
    margin-bottom: 5px;
}

#panels {
    position: absolute;
    z-index: -1;
    margin-top: 0;
    max-height: calc(100vh - 63px);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#panel-timetable.scrollTimetable {
    margin-top: 0;
}

#panel-timetable.scrollLogin {
    margin-top: calc(-100vh + 63px);
}

#panel-timetable.scrollMensa {
    margin-top: calc(-200vh + 63px + 63px);
}

#invalid-login {
    color: #ec6969;
}

#panel-timetable {
    display: block;
    height: calc(100vh - 63px);
    transition-property: margin-top;
    transition-duration: 0.5s;
}

#panel-account {
    padding: 20vh 10vw;
    background-color: var(--background-tertiary);
    height: calc(60vh - 63px);
}

#panel-mensa {
    color: var(--color-primary);
    height: calc(100vh - 63px);
}

#mensa-table {
    margin: 0 auto;
    height: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

#mensa-table th, #mensa-table td {
    padding: 0;
}

#mensa-table tr:not(:last-child) {
    border-bottom: 2px solid white;
}

.mensa-date {
    font-size: 15px;
    margin: 10px;
    text-align: center;
    display: block;
}

.mensa-desc {
    display: block;
    padding: 5px;
}

#accountinfo {
    color: var(--color-primary);
    text-align: center;
}

#ownName {
    display: block;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

#otherDetails {
    font-size: 15px;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@keyframes scroll {
    from {transform: translateY(0)}
    to {transform: translateY(-50%)}
}

@media (max-width: 30em) {
    .timetable-entry span {
        font-size: 12px;
    }
}

@media (min-width: 1025px) {
    #panels {
        width: calc(100vw - 200px);
        right: 0;
    }

    #sidebar {
        left: 0;
    }

    #open-menu {
        display: none;
    }
}

@media print {
    body {
        background-color: white;
    }

    #panels, #panel-timetable {
        height: 100vh;
        max-height: 100vh;
    }

    #panel-account, #panel-mensa {
        display: none;
    }

    #selection {
        display: none;
    }

    .timetable-time, .timetable-date {
        color: black;
    }

    .timetable-entry:not(.timetable-time) {
        border: 2px solid black
    }

    .timetable-entry.empty {
        background: transparent;
        border: transparent;
    }

    .scrolling {
        animation: none;
    }
}