* {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    line-height: 1.05;
}

:root {
    --bg-primary: #333;
    --bg-secondary: #37373b;
    --color-primary: #fff;
    --color-secondary: #000;
    --color-progress-bar: #329f5b;
    --class-lesson-bg: #ddd;
    --class-no-lesson-bg: #888;
    --class-hover: #aaa;
    --class-cancelled: #ff5e48;
    --class-special: #e2f7a4;
    --link-color: #a8cdff;
    --font: inherit;
}

body {
    background-color: var(--bg-primary);
    font-family: Tahoma, sans-serif;
    overflow: hidden;
    --wh: 100vh;
}

.no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

* {
    -webkit-transition: color 0.2s, background-color 0.2s;
    -moz-transition: color 0.2s, background-color 0.2s;
    -ms-transition: color 0.2s, background-color 0.2s;
    -o-transition: color 0.2s, background-color 0.2s;
    transition: color 0.2s, background-color 0.2s;
}

a:not(.overlay-tab) {
    color: var(--link-color);
}

#scrollLimiter {
    overflow: hidden;
}

#selection {
    padding: 10px;
    height: 40px;
    text-align: center;
}

#progress-bar-cont {
    background: white;
}

#progress-bar {
    -webkit-transition: width 0.5s, background-color 0.5s;
    -moz-transition: width 0.5s, background-color 0.5s;
    -ms-transition: width 0.5s, background-color 0.5s;
    -o-transition: width 0.5s, background-color 0.5s;
    transition: width 0.5s, background-color 0.5s;
    background-color: var(--color-progress-bar);
    height: 2px;
    border: none;
    margin: 0;
    width: 0;
}

#class-select {
    padding: 6px;
    font-size: 20px;
    width: calc(100% - 36px);
    margin: 10px;
    margin-bottom: 0;
}

#current-class {
    padding: 6px;
    display: inline-block;
    color: var(--color-primary);
    font-size: 25px;
    cursor: pointer;
}

#current-class.noclick {
    cursor: default;
}

#timetable {
    width: 100%;
    table-layout: fixed;
    border-spacing: 4px;
}

#sidebar {
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -ms-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
    position: fixed;
    left: -200px;
    width: 200px;
    height: calc(100vh - 64px);
    height: calc(var(--wh) - 64px);
    background-color: var(--bg-secondary);
    z-index: 1;
}

#sidebar.visible {
    left: 0;
}

#search-results {
    max-height: 50vh;
    overflow-y: auto;
    width: calc(100% - 10px);
}

.sidebar-link {
    display: block;
    margin: 10px;
    padding: 10px 0px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    color: var(--link-color);
    -webkit-transition: background-color 0.5s, color 0.5s;
    -moz-transition: background-color 0.5s, color 0.5s;
    -ms-transition: background-color 0.5s, color 0.5s;
    -o-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
}

.sidebar-link.active {
    background-color: #cfcfcf;
    color: black;
}

#sidebar-bottom {
    position: absolute;
    bottom: 10px;
}

#search-dropdown {
    height: 50px;
    position: relative;
}

.searchResult {
    z-index: 2;
    display: block;
    background-color: white;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
}

.searchResult:hover {
    background-color: #aaa;
}

.sc_cont {
    height: calc((100vh - 150px) / 11);
    height: calc((var(--wh) - 150px) / 11);
    display: flex;
    align-items: center;
    justify-content: center;
}

.timetable-lesson-times {
    height: calc((100vh - 150px) / 11);
    height: calc((var(--wh) - 150px) / 11);
}

.scroller-container {
    height: calc((100vh - 150px) / 11);
    height: calc((var(--wh) - 150px) / 11);
    display: flex;
    align-items: center;
}

.scroller-container.double {
    height: calc(2 * (100vh - 150px) / 11);
    height: calc(2 * (var(--wh) - 150px) / 11);
}

.scroller-container.triple {
    height: calc(3 * (100vh - 150px) / 11);
    height: calc(3 * (var(--wh) - 150px) / 11);
}

.scroller-container.fullday {
    height: calc(100vh - 150px);
    height: calc(var(--wh) - 150px);
}

.timetable-entry {
    background-color: var(--class-lesson-bg);
    color: var(--color-secondary);
    text-align: center;
    border-radius: 0.5em;
    overflow: hidden;
}

.timetable-entry:not(.empty):not(.timetable-time) {
    cursor: pointer;
}

.timetable-entry:not(.empty):not(.timetable-time):hover {
    background-color: var(--class-hover);
}

.cancelled {
    background-color: var(--class-cancelled);
    text-decoration: line-through;
    padding: 4px;
    border-radius: 5px;
    margin: 1px;
}

.special {
    background-color: var(--class-special);
}

.special:hover {
    cursor: default !important;
    background-color: var(--class-special) !important;
}

.empty {
    background-color: var(--class-no-lesson-bg);
}

.timetable-entry span {
    margin-right: 4px;
}

.timetable-time {
    width: 60px;
}

.timetable-date {
    padding: 10px;
    font-size: 13px;
}

.timetable-time, .timetable-date {
    background-color: transparent;
    color: var(--color-primary);
}

.scrolling {
    animation-name: scroll;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    align-self: flex-start;
}

span.entry-title {
    font-weight: bold;
    text-decoration: none !important;
}

.sc_cont span {
    hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    display: inline-block;
    text-decoration: inherit;
}

#error-timetable {
    visibility: hidden;
    opacity: 0;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#error-timetable.visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
    transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
}

#error-timetable img {
    display: inline-block;
}

#error-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

#error-desc {
    font-size: 20px;
    padding: 20px;
    line-height: 1.4;
}

#margin-details {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 80%;
    height: 80%;
    top: 0;
    left: 0;
    padding: 10vh 10vw;
    z-index: 2;
    -webkit-transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
    transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
}

#margin-details.visible {
    visibility: visible;
    opacity: 1;
}

#details-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #222222f8;
    color: white;
    border-radius: 5px;
}

#details_cont {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.icon-x::before {
    content: '\00d7';
    color: #fff;
    font-weight: 300;
    font-size: xx-large;
    position: absolute;
    right: 0;
    z-index: 2;
    margin: 10px;
    cursor: pointer;
}

#overlay-lesson-tabs {
    border-bottom: 3px solid white;
}

.overlay-tab {
    background-color: #aaa;
    display: inline-block;
    padding: 20px 30px 10px;
    margin: 10px 0 -1px 10px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.overlay-tab.active {
    background-color: #eee;
}

#lesson-detail {
    color: white;
    height: 100%;
    overflow-y: auto;
}

#room-detail, #teacher-detail {
    font-size: 2em;
    margin-left: 30px;
    margin-top: 10px;
}

#detail-view img:not(.teacher) {
    width: 100px;
    border-radius: 5px;
}

img.teacher {
    width: 200px;
    border-radius: 10px;
    margin: 15px;
    float: left;
}

#names {
    float: left;
    padding-bottom: 15px;
}

.person-link {
    color: var(--link-color);
    cursor: pointer;
    display: block;
}

#detail-view {
    width: calc(100% - 50px);
    margin-left: 30px;
    margin-top: 15px;
}

.personalDetails p {
    font-size: 20px;
    margin-top: 10px;
}

.student {
    margin-top: 10px;
}

.studentName {
    display: block;
    font-size: 16px;
}

#teacher-detail-view p {
    padding: 10px;
}

.buttonSpan {
    padding-top: 5px;
    cursor: pointer;
}

#week-back, #week-forward, #today, #forward-next-sem, #backward-next-sem {
    float: right;
    margin-left: 15px;
    touch-action: manipulation;
    stroke: var(--color-primary);
}

#today::before {
    content: attr(data-content);
    color: var(--color-primary);
    padding: 9px 0 0px 29px;
    position: absolute;
    text-align: center;
    transform: translate(-50%, 0);
}

.repaint {
    color: #000;
}

#open-menu {
    float: left;
    position: absolute;
    left: 10px;
    stroke: var(--color-primary);
}

form {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    margin: 0 10%;
}

label {
    padding: 12px 0px 12px 0;
    display: inline-block;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
}

button {
    color: black;
}

#button-spinner {
    text-align: center;
}

#button-spinner img {
    margin: 20px auto;
    padding: 12px;
    display: block;
    width: 60px;
}

button, #logout, #persplan {
    margin: 20px auto;
    -webkit-appearance: none;
    background-color: #dddddd;
    border-radius: 0;
    padding: 12px;
    display: block;
    font-size: 18px;
}

#persplan {
    margin-bottom: 5px;
}

#panels {
    position: absolute;
    height: calc(100vh - 63px);
    height: calc(var(--wh) - 63px);
    overflow: hidden;
    width: 100vw;
    background-color: var(--bg-secondary);
    color: var(--color-primary);
}

#panel-timetable.scrollTimetable {
    margin-top: 0;
}

#panel-timetable.scrollLogin {
    margin-top: calc(-100vh + 63px);
    margin-top: calc(var(--wh) * -1 + 63px);
}

#panel-timetable.scrollMensa {
    margin-top: calc(-200vh + 63px + 63px);
    margin-top: calc(var(--wh) * -2 + 63px + 63px);
}

#panel-timetable.scrollGrades {
    margin-top: calc(-300vh + 63px + 63px + 63px);
    margin-top: calc(var(--wh) * -3 + 63px + 63px + 63px);
}

#invalid-login {
    color: #ec6969;
}

#panel-timetable, #panel-mensa {
    height: calc(100vh - 63px);
    height: calc(var(--wh) - 63px);
}

#panel-timetable.canScroll {
    -webkit-transition: margin-top 0.5s;
    -moz-transition: margin-top 0.5s;
    -ms-transition: margin-top 0.5s;
    -o-transition: margin-top 0.5s;
    transition: margin-top 0.5s;
}

#panel-settings, #panel-grades {
    padding: 5vh 10vw;
    padding: calc(var(--wh) * 0.05) 10vw;
    height: calc(90vh - 63px);
    height: calc(calc(var(--wh) * 0.9) - 63px);
    overflow-y: auto;
}

#mensa-table {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    hyphens: auto;
}

#mensa-table th, #mensa-table td {
    padding: 0;
}

#mensa-table tr:not(:last-child) {
    border-bottom: 1px solid white;
}

.mensa-date {
    font-size: 15px;
    text-align: center;
    display: block;
}

.mensa-desc {
    display: block;
    padding: 5px;
    max-width: 250px;
}

#toggle-mensa {
    color: #60c4ff;
    cursor: pointer;
}

#ownName {
    display: block;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

#otherDetails {
    font-size: 15px;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#week-btns {
    float: right;
    -webkit-transition: margin-right 0.5s;
    -moz-transition: margin-right 0.5s;
    -ms-transition: margin-right 0.5s;
    -o-transition: margin-right 0.5s;
    transition: margin-right 0.5s;
    position: relative;
}

#week-btns.hide {
    margin-right: -200px;
}

span svg line {
    stroke-width: 2;
    stroke: var(--color-primary);
}

span:not(#today) svg line {
    stroke-linecap: round;
}

svg polygon {
    stroke: none;
    fill: var(--color-primary);
}

.settings-section {
    padding: 30px 0;
}

.settings-section-header {
    margin: 20px;
}

#accountinfo {
    text-align: center;
}

#accountinfo button {
    display: inline;
}

#stylepicker_cont {
    background-color: var(--bg-primary);
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    overflow-x: auto;
}

#stylepicker_cont span {
    display: block;
}

#stylepicker {
    width: auto;
    display: inline-block;
    transition: box-shadow .2s, top .2s, left .2s;
    white-space: nowrap;
}

#stylepicker span {
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.stylepreview_cont {
    display: inline-block;
    cursor: pointer;
    border-color: #0000;
    border-width: 2px;
    border-radius: 10px;
    border-style: dashed;
}

.stylepreview_cont:hover {
    background-color: #0003;
}

.stylepreview_cont.selected {
    border-color: black;
    background-color: #0005;
    border-color: var(--color-primary);
}

.stylepreview {
    width: auto;
    height: 25vh;
}

.stylepreview * {
    font-size: 30px;
    text-anchor: middle;
}

#hint-new-timetable {
    position: absolute;
    right: 0;
    background-color: #f3f016;
    padding: 15px;
    border-radius: 0.5em;
    line-height: 1.1;
    box-shadow: -5px 10px 14px 3px #000000b3;
    transition: opacity 0.5s;
    opacity: 0;
}

div#hint-new-timetable:after {
    content: '';position: absolute;
    top: 0;
    right: 3%;
    width: 0;
    height: 0;border: 18px solid transparent;
    border-bottom-color: #f3f016;
    border-top: 0;
    margin-left: -18px;
    margin-top: -18px;
}

#hint-new-timetable.visible {
    opacity: 1;
}

@keyframes scroll {
    from {transform: translateY(0)}
    to {transform: translateY(-50%)}
}

@media only screen and (max-width: 600px) {
    form button {
        font-size: 20px;
    }
    form input {
        font-size: 20px;
    }
}

@media (max-width: 30em) {
    .timetable-entry span {
        font-size: 12px;
    }

    .mensa-date {
        font-size: 12px;
    }

    .mensa-desc {
        font-size: 13px;
    }
}

@media (min-width: 1025px) {
    #panels {
        width: calc(100vw - 200px);
        right: 0;
    }

    #sidebar {
        left: 0;
    }

    #open-menu {
        display: none;
    }
}

@media print {
    * {
        color: black !important;
    }
    
    body {
        background-color: white;
        --wh: 90vh !important;
    }

    #panels, #panel-timetable {
        height: 100vh;
        width: 100vw;
        margin-top: 0 !important;
        background-color: white;
    }

    #sidebar, #panel-settings, #panel-mensa, #panel-grades {
        display: none;
    }

    #scrollLimiter {
        background: none;
    }

    #selection * {
        display: none;
    }

    #current-class {
        display: inline-block;
        color: black;
    }

    .timetable-time, .timetable-date {
        color: black;
    }

    .timetable-entry:not(.timetable-time) {
        border: 2px solid black;
        background: none;
    }

    .timetable-entry.empty {
        background: none;
        border: none;
    }

    .scrolling {
        animation: none;
    }
}
