#panel-grades {
    text-align: center;
    width: 100%;
    height: calc(100vh - var(--topbar-height));
    height: calc(var(--wh) - var(--topbar-height));
    position: relative;
    --grade-bg-col: var(--bg-primary);
    --grade-cont-col: var(--bg-secondary);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.grades-cont {
    position: absolute;
    height: calc(100vh - var(--topbar-height));
    height: calc(var(--wh) - var(--topbar-height));
    width: 100%;
    overflow-y: auto;
    background-color: var(--grade-bg-col);
    animation: 0.25s linear fade-in;
}

.grades-cont.fade-out {
    opacity: 0;
    animation: 0.25s linear fade-out;
}

.grades-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grades-group-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: var(--grade-bg-col);
}

.grades-heading {
    margin: 20px 60px;
}

.grades-overview-container {
    display: inline-grid;
    background-color: var(--grade-cont-col);
    width: calc(min(450px, 80%));
    border-radius: 10px;
    justify-items: start;
    cursor: pointer;
    margin: 5px;
    transition: transform 0.25s;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grades-overview-container.growing {
    transform: scale(3);
    cursor: default;
}

.grades-back-btn, .grades-more-btn {
    position: absolute;
    top: 10px;
    width: 45px;
    height: 45px;
    background-color: var(--bg-secondary);
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    cursor: pointer;
}

.grades-back-btn {
    left: 10px;
    color: var(--color-primary);
}

.grades-more-btn {
    right: 10px;
    transition: border-radius 0.2s;
}

.grades-more-btn.active {
    border-radius: 25% 25% 0 0;
}

.grades-more-btn circle {
    fill: var(--color-primary);
}

.grades-sem-container {
    grid-template:
        "title rounded colbar" 4fr
        "avg rounded colbar" 3fr
        /
        1fr auto 10px;
}

.grades-subj-container {
    grid-template:
        "title title colbar" auto
        "avg rounded colbar" auto
        /
        1fr auto 10px;
}

.grades-grade-container {
    grid-template:
        "title title colbar" 1fr
        "weight grade colbar" 1fr
        /
        1fr auto 10px;
}

.grades-overview-span {
    margin: 10px;
}

.grades-overview-title {
    grid-area: title;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.grades-overview-container .grades-overview-title {
    font-size: 22px;
}

.has-avg-label::before {
    content: '⌀ ';
}

.grades-overview-round-avg, .grades-overview-grade {
    grid-area: rounded;
    float: right;
    font-size: 34px;
    font-weight: bold;
    align-self: center;
}

.grades-overview-grade {
    grid-area: grade;
}

.grades-overview-vertbar {
    grid-area: colbar;
    width: 100%;
}

.grades-overview-avg {
    grid-area: avg;
    font-size: 20px;
    align-self: end;
    margin-top: 5px;
}

.grades-overview-weight {
    grid-area: weight;
    align-self: end;
    text-align: left;
}

.grades-group-title {
    width: calc(min(450px, 80%));
}

.grades-group-title span {
    margin: 10px;
    font-size: 18px;
}

.grades-group-name {
    float: left;
    font-weight: bold;
}

.grades-group-avg {
    float: right;
}

#panel-grades .growing {
    overflow: hidden;
}

.grades-overview-container:not(.growing):active {
    transform: scale(0.98);
}

.grades-add-sem, .grades-add-subj, .grades-add-grade, .grades-add-subgrade {
    grid-template: "plus" 1fr / 1fr;
    justify-items: center;
    height: 80px;
    align-items: center;
    background-color: transparent;
    border: 2px dashed var(--color-primary);
}

.grades-overview-container.small {
    width: calc(min(225px, 40%));
}

.grades-dropdown-more {
    position: absolute;
    right: 10px;
    top: 55px;
    background-color: var(--bg-primary);
    padding: 0;
    transition: opacity 0.25s, visibility 0.25s;
    border-radius: 15px 0 15px 15px;
    overflow: hidden;
}

.grades-dropdown-more.hidden {
    opacity: 0;
    visibility: hidden;
}

.grades-link {
    display: block;
    padding: 15px 20px;
    text-align: left;
    background-color: var(--bg-secondary);
    cursor: pointer;
}

.grades-link:not(:last-child) {
    border-bottom: 1px solid var(--color-primary);
}

.grades-link:hover, .grades-more-btn:hover, .grades-back-btn:hover {
    filter: brightness(125%);
}

.grades-sem-add-form {
    display: none;
    width: 100%;
    height: 100%;
}

.grades-confirm-add {
    display: block;
    padding: 0 20px;
    font-size: 35px;
    align-self: center;
}
  
.grades-confirm-add-cont {
    display: flex;
    height: 100%;
    background-color: #18cc34;
}

.grades-confirm-add-cont:hover {
    background-color: #39c11d;
}

.grades-confirm-add-cont:active {
    background-color: #1ca209;
}

.grades-overview-container.adding:active {
    transform: none;
}

.grades-overview-container.adding .grades-overview-span {
    display: none;
}

.grades-overview-container.adding .grades-sem-add-form {
    display: flex;
}

#grade-editor {
    width: 70vw;
    height: 70vh;
    padding: 5vh 5vw;
}

#grade-form {
    position: relative;
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#grade-form-main-cont {
    width: 100%;
    align-self: center;
    overflow: auto;
    max-width: 600px;
}

.grade-form-section {
    margin-bottom: 20px;
}

#grade-bonus-cont {
    display: grid;
    grid-template: "plusminus value" auto / 1fr 5fr;
}

.grade-chip-cont {
    display: flex;
}

.grade-chip-cont.vert {
    flex-direction: column;
}

.grade-chip-sel {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    color: var(--link-color);
    flex: 1 1 0;
    -webkit-transition: background-color 0.5s, color 0.5s;
    -moz-transition: background-color 0.5s, color 0.5s;
    -ms-transition: background-color 0.5s, color 0.5s;
    -o-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
    border: 1px dashed #cfcfcf;
}

.grade-chip-cont.vert .grade-chip-sel {
    margin: 2px 5px;
    padding: 5px;
}

.grade-chip-sel.large {
    font-size: 22px;
}

.grade-chip-sel.active {
    background-color: #cfcfcf;
    color: black;
    border: none;
}

#grade-edit-button-cont {
    display: flex;
    margin-top: auto;
    align-self: end;
}