#panel-grades {
    text-align: center;
    width: 100%;
    height: calc(100vh - var(--topbar-height));
    height: calc(var(--wh) - var(--topbar-height));
    position: relative;
    --grade-bg-col: var(--bg-primary);
    --grade-cont-col: var(--bg-secondary);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.grades-cont {
    position: absolute;
    height: calc(100vh - var(--topbar-height));
    height: calc(var(--wh) - var(--topbar-height));
    width: 100%;
    overflow-y: auto;
    background-color: var(--grade-bg-col);
    animation: 0.25s linear fade-in;
}

.grades-cont:last-child {
    z-index: 2;
}

.grades-cont.fade-out {
    opacity: 0;
    animation: 0.25s linear fade-out;
}

.grades-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grades-group-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: var(--grade-bg-col);
}

.grades-heading {
    margin: 20px 60px;
}

.grades-overview-container {
    display: inline-grid;
    background-color: var(--grade-cont-col);
    width: calc(min(450px, 80%));
    border-radius: 10px;
    justify-items: start;
    cursor: pointer;
    margin: 5px;
    transition: transform 0.25s;
    overflow: hidden;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grades-overview-container.growing {
    transform: scale(3);
    cursor: default;
}

.grades-back-btn, .grades-more-btn {
    position: absolute;
    top: 10px;
    width: 45px;
    height: 45px;
    background-color: var(--bg-secondary);
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    cursor: pointer;
}

.grades-back-btn {
    left: 10px;
    color: var(--color-primary);
}

.grades-more-btn {
    right: 10px;
    transition: border-radius 0.2s;
}

.grades-more-btn.active {
    border-radius: 25% 25% 0 0;
}

.grades-more-btn circle {
    fill: var(--color-primary);
}

.grades-view-header {
    -webkit-position: sticky;
    position: sticky;
    display: grid;
    top: 0;
    background-color: inherit;
    z-index: 1;
}

.grades-sem-container {
    grid-template:
        "title rounded colbar" 4fr
        "avg rounded colbar" 3fr
        /
        1fr auto 10px;
}

.grades-subj-container {
    grid-template:
        "title title colbar" auto
        "avg rounded colbar" auto
        /
        1fr auto 10px;
}

.grades-grade-container {
    grid-template:
        "title title colbar" 1fr
        "weight grade colbar" auto
        /
        1fr auto 10px;
}

.grades-grade-container.grades-subgrade {
    grid-template:
        "sg-icon title title colbar" 1fr
        "weight weight grade colbar" auto
        /
        auto 1fr auto 10px;
}

.grades-overview-span {
    margin: 10px;
}

.grades-cont .color-svg * {
    stroke-width: 3px;
}

.grades-overview-title {
    grid-area: title;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.grades-overview-container .grades-overview-title {
    font-size: 22px;
}

.has-avg-label::before {
    content: '⌀ ';
}

.grades-overview-round-avg, .grades-overview-grade {
    grid-area: rounded;
    float: right;
    font-size: 34px;
    font-weight: bold;
    align-self: center;
}

.grades-overview-grade {
    grid-area: grade;
}

.grades-overview-vertbar {
    grid-area: colbar;
    width: 100%;
}

.grades-overview-avg {
    grid-area: avg;
    font-size: 20px;
    align-self: end;
    margin-top: 5px;
}

.grades-overview-weight {
    grid-area: weight;
    align-self: end;
    text-align: left;
    display: grid;
    grid-template: "w frac text" auto / auto auto auto;
    justify-items: center;
    grid-gap: 6px;
}

.grades-small-pluspoint-cont {
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--bg-primary);
}

.grades-overview-sg-icon {
    grid-area: sg-icon;
    width: 25px;
    margin: 10px 0 0 10px;
}

.grades-group-title {
    width: calc(min(450px, 80%));
}

.grades-group-title span {
    margin: 10px;
    font-size: 18px;
}

.grades-group-name {
    float: left;
    font-weight: bold;
}

.grades-group-avg {
    float: right;
}

#panel-grades .growing {
    overflow: hidden;
}

.grades-overview-container:not(.growing):active {
    transform: scale(0.98);
}

.grades-add .grades-overview-span {
    margin: 0;
}

.grades-add-sem, .grades-add-subj, .grades-add-grade, .grades-add-subgrade {
    grid-template: "plus" 1fr / 1fr;
    justify-items: center;
    height: 80px;
    align-items: center;
    background-color: transparent;
    border: 2px dashed var(--color-primary);
}

.grades-overview-container.small {
    width: calc(min(225px, 40%) - 10px);
}

.grades-dropdown-more {
    position: absolute;
    right: 10px;
    top: 55px;
    background-color: var(--bg-primary);
    padding: 0;
    transition: opacity 0.25s, visibility 0.25s;
    border-radius: 15px 0 15px 15px;
    overflow: hidden;
    z-index: 2;
}

.grades-dropdown-more.hidden {
    opacity: 0;
    visibility: hidden;
}

.grades-add-subj-cont {
    display: grid;
    grid-template: auto auto / auto;
    justify-items: center;
}

.grades-add-grade-cont {
    width: 100%;
}

.grades-search-results-cont {
    position: relative;
    width: calc(min(450px, 80%));
}

.grades-search-results {
    width: calc(100% - 60px);
    max-height: 20vh;
    margin-top: -10px;
    overflow-y: auto;
    z-index: 1;
    position: absolute;
    border-top: 1px solid #ddd;
    display: none;
    text-align: left;
}


/* only show when in "adding" mode */
.adding + div .grades-search-results {
    display: block;
}

.grades-search-result {
    display: grid;
    grid-gap: 2px;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    color: black;
    border-top: #ddd;
}

.grades-search-result-main {
    font-size: 18px;
}

.grades-search-result-type {
    font-size: 13px;
    color: #555;
}

.grades-search-result:hover {
    background-color: #aaa;
}

.grades-link {
    display: block;
    padding: 15px 20px;
    text-align: left;
    background-color: var(--bg-secondary);
    cursor: pointer;
}

.grades-link:not(:last-child) {
    border-bottom: 1px solid var(--color-primary);
}

.grades-link:hover, .grades-more-btn:hover, .grades-back-btn:hover {
    filter: brightness(125%);
}

.grades-sem-add-form {
    display: none;
    width: 100%;
    height: 100%;
}

.grades-confirm-add {
    display: block;
    padding: 0 20px;
    font-size: 35px;
    align-self: center;
}
  
.grades-confirm-add-cont {
    display: flex;
    height: 100%;
    background-color: #418a10;
}

.grades-confirm-add-cont:hover {
    background-color: #1a7307;
}

.grades-confirm-add-cont:active {
    background-color: #025513;
}

.grades-overview-container.adding:active {
    transform: none;
}

.grades-overview-container.adding .grades-overview-span {
    display: none;
}

.grades-overview-container.adding .grades-sem-add-form {
    display: flex;
}

#grade-editor {
    width: 80vw;
    height: 80vh;
    padding: 5vh 5vw;
}

#grade-form {
    position: relative;
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#grade-form-main-cont {
    width: 100%;
    align-self: center;
    overflow: auto;
    max-width: 600px;
    padding: 0 10px;
}

.grade-form-section {
    margin-bottom: 20px;
    position: relative;
}

#grade-bonus-cont {
    display: grid;
    grid-template: "plusminus value" auto / 1fr 5fr;
}

.grade-chip-cont {
    display: flex;
}

.grade-chip-cont.vert {
    flex-direction: column;
}

.grade-chip-sel {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--link-color);
    flex: 1 1 0;
    -webkit-transition: background-color 0.5s, color 0.5s;
    -moz-transition: background-color 0.5s, color 0.5s;
    -ms-transition: background-color 0.5s, color 0.5s;
    -o-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
    border: 1px dashed #cfcfcf;
}

.grade-chip-cont.vert .grade-chip-sel {
    margin: 2px 5px;
    padding: 5px;
}

.grade-chip-sel.large {
    font-size: 22px;
}

.grade-chip-sel.active {
    background-color: #cfcfcf;
    color: black;
}

#grade-cloud-spinner {
    text-align: center;
    width: 100%;
    height: 100px;
}

#grade-edit-button-cont {
    display: flex;
    margin-top: auto;
    align-self: end;
}

#grade-edit-button-cont button {
    margin-left: 20px;
}

#grade-edit-delete {
    background-color: #d71111;
    color: white;
    width: 100%;
    margin: 10px 0;
}

#grade-weight-percent-symbol {
    position: absolute;
    right: 0;
    color: #999;
    padding: 10px;
    display: inline-flex;
    height: 25px;
    align-items: center;
}

#label-grade-weight-hint.hidden {
    display: none;
}

.grades-overview-weight-t, .grades-overview-weight-w {
    justify-content: center;
    align-items: center;
    display: flex;
}
.frac {
    display: inline-grid;
    grid-template: "f1" 1fr "f2" 1fr / 1fr;
    grid-area: frac;
    background-size: 100% 100%;
}
.f1, .f2 {
    text-align: center;
    align-self: center;
    justify-self: center;
    display: block;
    width: 100%;
    font-size: 15px;
}
.f1 {
    grid-area: f1;
    border-bottom: 1px solid var(--color-primary);
    
}
.f2 {
    grid-area: f2;
    border-top: 1px solid var(--color-primary);
}
.grades-overview-weight-t {
    grid-area: text;
}
.grades-overview-weight-w {
    grid-area: w;
}

#grades-manual-sync-cont {
    display: grid;
    grid-template: "dl" auto "ul" auto;
    grid-gap: 5px;
}

.grades-section button {
    margin: 5px 0;
    justify-self: center;
    width: 100%;
}

#grade-sync-mode-cont {
    display: flex;
}

#grade-sync-must-login {
    padding: 10px;
    background-color: var(--bg-primary);
    margin: 10px 0;
}

.grade-chip-title {
    display: block;
}

.grade-chip-subtitle {
    font-size: 14px;
    color: #444;
}

.grade-chip-sel:not(.active) .grade-chip-subtitle {
    color: var(--color-primary);
}

#grade-sync-cont {
    display: flex;
}

#grades-auto-sync-cont, #grades-manual-sync-cont {
    margin: 5px;
    flex: 1 1 0;
}
